<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reading <%= mangaName %>
    </title>
</head>

<body>
    <div class="top-bar">

        <div class="page-name">
            <h2>Reading <%= mangaName %>
            </h2>
        </div>

        <p> <a button type="button" class="btn btn-warning btn-lg" href="/">◄◄ Go Home
            </a><br>
        </p>
    </div>

    <!-- shows current path -->
    <div class="currentPath">
        <a href="/">Home ></a><a href="/manga/<%= mangaName %>">
            <%= mangaName %>
        </a>
    </div>

    <div class="cover-page">
        <img src="cover.jpg">
    </div>

    <div class="text-box">
        <%= mangaName %>

    </div>


    <div class="list chapterList">
        <% for(var i=0; i<chapterList.length; i++) {%>
            <a href="<%= chapterList[i] %>">
                <%= chapterList[i] %>
            </a><br>
            <% } %>
                <!-- TODO: add an "update manga chapters" button at the end of the list to download only newer chapters -->
                <button onclick="sendData()">Update Chapters</button>

                <script>
                    function sendData() {
                        const data = {
                            name: 'John',
                            age: 30,
                            email: 'john@example.com'
                        };

                        const xhr = new XMLHttpRequest();
                        xhr.open('POST', '/myroute');
                        xhr.setRequestHeader('Content-Type', 'application/json');
                        xhr.send(JSON.stringify(data));
                    }
                </script>

    </div>

</body>

</html>
<!-- todo
be able to see reading progress
add continue reading button
view bookmarked chapters
add option to compress manga into cbz for ipad
-->