<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css.css">
    <script type = "text/javascript" src="/pageInteractions.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/node-reader-icon3.svg" type="image/x-icon" />

    <title>reading <%= mangaName %>
    </title>
</head>

<body>
    <div class="top-bar">

        <div class="page-name">
            <h1>Reading <%= mangaName %></h1>
        </div>
        <div class="currentPath" id="currentPath">
            <a href="/">Home > </a><a href="/manga/<%= mangaName %>">
                <%= mangaName %>
            </a>
        </div>
    </div>

    <!-- shows current path -->

    <div class="manga-infos">

        <a  href="<%= chapterList[0] %>"><img class="cover-page" src="cover.jpg"></a>

        <div class="description">
            <%= mangaDesc %>
        </div>
    </div>

    <div class="list chapterList">
        <% for(var i=0; i<chapterList.length; i++) {%>
            <a class="chapter" href="<%= chapterList[i] %>">
                <%= chapterList[i] %>
            </a><br>
            <% } %>
                <!-- TODO: add an "update manga chapters" button at the end of the list to download only newer chapters -->

    </div>   
    <img onclick="addBookmark('Real no Heroine wa Irimasen!', 'Chapter 0_ Prolouge', 'false')" src=" /plus-icon.svg">


</body>

</html>
<!-- todo
be able to see reading progress
add continue reading button
view bookmarked chapters
add option to compress manga into cbz for ipad
-->