<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reading <%= mangaName %>
    </title>
</head>

<body>
    <div class="top-bar">
        <p> <a button type="button" class="btn btn-warning btn-lg" href="/">◄◄ Go Home
            </a><br>
        </p>
    </div>

    <!-- shows current path -->
    <div class="currentPath">
        <a href="/">home ></a><a href="/manga/<%= mangaName %>">
            <%= mangaName %>
        </a>
    </div>
    
    
    <div class="text-box">
        <%= mangaName %>

    </div>


    <div class="list chapterList">
        <% for(var i=0; i<chapterList.length; i++) {%>
            <a href="<%= chapterList[i] %>">
                <%= chapterList[i] %>
            </a><br>
            <% } %>
    </div>

</body>

</html>