<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css.css">
    <script type="text/javascript" src="/pageInteractions.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/node-reader-icon3.svg" type="image/x-icon" />

    <title>reading <%= mangaName %>
    </title>
</head>

<body>
    <div class="top-bar">

        <div class="page-name">
            <h1>Reading <%= mangaName %>
            </h1>
        </div>
        <div class="currentPath" id="currentPath">
            <a href="/">Home > </a><a href="/manga/<%= mangaName %>">
                <%= mangaName %>
            </a>
        </div>
    </div>

    <!-- shows manga cover, description, tags, etc... -->

    <div class="manga-infos">

        <a href="<%= chapterList[0] %>"><img class="cover-page" src="cover.jpg"></a>

        <span class="tags">
            <%=tags%>
        </span>

        <div class="description">
            <%= mangaDesc %>
        </div>
    </div>


    <!-- list of chapters -->
    <div class="list chapterList">
        <% for(var i=0; i<chapterList.length-1; i++) {%>
            <%let bookStyle=[]%>

                <% if (bookmarks[i]=="true" ) { %>
                    <% bookStyle[i]='red-bookmark.svg' %>
                        <% }else{ %>
                            <% bookStyle[i]='dark-bookmark.svg' %>
                                <%}%>

                                    <span id="bookmark-<%=chapterList[i]%>">
                                        <img id="bookmark-img"
                                            onclick="addBookmark(`<%= mangaName %>`, `<%=chapterList[i]%>`,`<%=bookmarks[i]=='false'%>`)"
                                            src=" /<%= bookStyle[i]%>">
                                    </span>
                                    <a class="chapter" href="<%= chapterList[i] %>">
                                        <%= chapterName[i] %>
                                    </a>
                                    <br>

                                    <% } %>

                                    <%= chapterList.length%> chapters in total
                                        <!-- TODO: add an "update manga chapters" button at the end of the list to download only newer chapters -->

    </div>
    <div id="bookmark">
        <!-- <img onclick="updateChapters('<%=mangaName%>', '<%= chapterList.length %>')" src=" /zoom_in-icon.svg"> -->

        <span class="updateChapters" onclick="updateChapters('<%=mangaName%>', '<%= chapterList.length %>')"
            title="download newer chapters">&#8634;</span>
    </div>

</body>

</html>
<!-- todo
be able to see reading progress
add continue reading button
view bookmarked chapters
add option to compress manga into cbz for ipad
-->