<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <div class="top-bar">
        <div class="page-name">
            HOME
        </div>

        <a button type="button" class="btn btn-warning btn-lg" href="/">◄◄ Go Home
        </a>


    </div>

    <!-- shows current path -->
    <div class="currentPath">
        <a href="/">home >
        </a>
    </div>

    <div class="text-box">
        Home
    </div>






    <!-- displaus the mangas present as a list -->
    <!-- <div class="list mangaList">
        
        
        
        
        <table>
            <tr>
                <% for(var i=0; i<mangaList.length; i++) {%>

                    <th><a href="manga/<%= mangaList[i] %>"><img src="manga/<%=mangaList[i]%>/cover.jpg"></a></th>

                    <% } %>
            </tr>
            <tr>
                <% for(var i=0; i<mangaList.length; i++) {%>
                   <th><%= mangaList[i] %></th>
                        <% } %>
            </tr>
                        
            

        </table>




        
    </div> -->


    <div id="manga-list">
        <% for (var i=0; i < mangaList.length; i++) { %>
            <div class="manga-item">
                <a href="manga/<%= mangaList[i] %>"><img class="manga-image" src="manga/<%= mangaList[i] %>/cover.jpg" /></a>
                <br>
                <%= mangaList[i] %>
            </div>
            <% } %>
    </div>













    <div class="add-chapter">
        <a href="/new">add a chapter or manga</a>
    </div>


</body>

</html>