<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css.css">
    <!-- <link rel="script" href="/pageInteractions.js"> -->
    <script type = "text/javascript" src="/pageInteractions.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/node-reader-icon3.svg" type="image/x-icon" />

    <title>
        <%= chapName %>
    </title>
</head>

<body>

    <div class="top-bar">
        <div class="page-name">
            <h1>
                <%=chapName%>
            </h1>
        </div>

        <!-- shows current path -->
        <div class="currentPath" id="currentPath">
            <a href=" /">Home > </a><a href="/manga/<%= mangaName %>">
                <%= mangaName %> >
            </a> <a href="/manga/<%= mangaName %>/<%= chapName %>">
                <%= chapName %>
            </a>
        </div>
    </div>


    <div class="zoom">

        <img onclick="zoomout()" src="/minus-icon.svg">
        <!-- <img onclick="zoomIn()" src="/plus-icon.svg"> -->
        <img onclick="addBookmark('Real no Heroine wa Irimasen!', 'Chapter 0_ Prolouge', 'false')" src=" /plus-icon.svg">
    </div>

    <div class="change-chapter top-buttons">
        <a class="prev-chap" href="../<%=prevChapter%>">◄◄ Previous </a>

        <a class="next-chap" href="../<%=nextChapter%>">Next ►►</a>

    </div>




    <div class="page" id="page">
        <% for(var i=0; i<path_to_image.length; i++) { %>
            <img id="chapterPages" class="chapterPages" src="<%= path_to_image[i] %>">
            <% } %>
    </div>

    <div class="change-chapter bottom-buttons">
        <a class="prev-chap" href="../<%=prevChapter%>">◄◄ Previous </a>

        <a class="next-chap" href="../<%=nextChapter%>">Next ►►</a>

    </div>

</body>

</html>

<script>

    function zoomIn() {
        var images = document.getElementsByClassName("chapterPages");
        for (var i = 0; i < images.length; i++) {
            images[i].width += 200;
        }
    }



    function zoomout() {
        var images = document.getElementsByClassName("chapterPages");
        for (var i = 0; i < images.length; i++) {
            images[i].width -= 200;
        }
    }

</script>

<!--todo 
add button for bookmarking chapter
add side bar to change chapters/ go to top of page
add js to resize images without affecting rest of page
 -->